In [1]:
import pandas as pd
data=[1,2,3,4]
df=pd.Series(data)
print(df.count())

4

In [48]:
import pandas as pd
data={'name':['kavya','lavanya','laddu','shiva'],'age':[21,20,21,23],'city':['siddipet','knr','knr','knr']}
df=pd.DataFrame(data);
# print(df)
# print(df['name'])
# print(df[['name','city']])
# print(df.iloc[1])
# print(df.iloc[[1,2]])
# print(df.iloc[3])
# df.iloc[2]
# f_df=df[df['age']>20]
# print(f_df)
df.rename(columns={'name':'fname','age':'years'},inplace=True)
# print(df.count())
# print(df.shape[0]) # print the no.of attributes(1) for attributes (0) for records

[0, 1, 2, 3]

In [3]:
import pandas as pd
df=pd.read_csv('/home/rgukt-basar/Downloads/transactions.csv')
# print(df)#prints first selected rows
# print(df.tail(3)) prints last selected rows
# print(df.info())
# print(df.describe())
# row_names=df.index.tolist()
# print(row_names)
# df.(columns={'name':'fname','age':'years'},inplace=True)

In [4]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [5]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [7]:
# Print Summary of transaction data set
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [11]:
# Print Numbers of Attributes
print(df.shape[1])

5

In [12]:
# Print Numbers of Records
print(df.shape[0])

10

In [15]:
# Get the row names
row_names=df.index.tolist()
print(row_names)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#  Get the column names
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [23]:
# View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [22]:
# Change the name of column “ Quantity” to “Quant”
df.rename(columns={'Quantity':'Quant'})

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [53]:
# Change the name of columns ProductID and UserID
df.rename(columns={'ProductID':'PID','UserID':'UID'},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [54]:
# Order the rows of transactions by TransactionIddescending, if ascending then ascending=True
data_sort=df.sort_values(by='TransactionID',ascending=False)
print(data_sort)

   TransactionID TransactionDate  UID  PID  Quantity
9             10      2016-05-08  3.0    4         4
8              9      2015-04-24  7.0    4         3
7              8      2014-04-24  NaN    2         3
6              7      2013-12-30  3.0    4         1
5              6      2013-12-23  2.0    5         6
4              5      2013-06-06  2.0    4         1
3              4      2012-08-26  1.0    2         3
2              3      2011-06-16  3.0    3         1
1              2      2011-05-26  3.0    4         1
0              1      2010-08-21  7.0    2         1

In [42]:
#  Order the rows of transactions by Quantity ascending, TransactionDate descending
data_sort=df.sort_values(by=['Quantity','TransactionDate'],ascending=[True,False])
print(data_sort)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [3]:
import seaborn as sb

In [4]:
import pandas

In [5]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in ./.local/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: pandas>=1.2 in ./.local/lib/python3.10/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./.local/lib/python3.10/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in ./.local/lib/python3.10/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: contourpy>=1.0.1 in ./.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.8)
Requirement already satisfied: python-dateutil>=2.7 in ./.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: cycler>=0.10 in ./.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.4.7)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.0.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.2->seaborn) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.