In [1]:
import seaborn as sb

In [2]:
import pandas as pd

In [2]:
#  1.Read top 5 values
df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
# print(df)
print(df.head(5))

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [7]:
df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
num_attributes=df.shape[1]
print("Number of attributes:",num_attributes)

Number of attributes: 15

In [16]:
# 2. Print dataframe info_data types of each column 
df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
# print(df.info())
print(df.dtypes)

Manufacturer            object
Model                   object
Sales in thousands     float64
4-year resale value     object
Vehicle type            object
Price in thousands      object
Engine size             object
Horsepower              object
Wheelbase               object
Width                   object
Length                  object
Curb weight             object
Fuel capacity           object
Fuel efficiency         object
Latest Launch           object
dtype: object

In [20]:
# 6. Print summary statistics for numerical variables

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
# used for suumary statics caluculation
print(df.describe())

       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [17]:
# 3.Print number of rows and columns
df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
rows,cols=df.shape
print("Number of rows:",rows)
print("Number of cols:",cols)

Number of rows: 157
Number of cols: 15

In [18]:
#  4. Drop duplicate rows_if any
df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
df=df.drop_duplicates()
print(df)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [19]:
# 5. Print number of rows and columns after dropping duplicates

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
df=df.drop_duplicates()
print(df)
rows,cols=df.shape
print("number of rows:",rows)
print("number of cols:",cols)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]
number of rows: 157
number of cols: 15

In [24]:
# 7. Print number of missing values in each column

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
df=df.isna().sum()
print(df)

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [26]:
#  8. Drop the column with most missing values

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
most_missing=df.isna().sum().idxmax()
print(most_missing)

Manufacturer

In [29]:
# 9. Drop the rows with categorical missing values

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
categorical=df.select_dtypes(include=['object']).columns
df_cleaned=df.dropna(subset=categorical)
print(df_cleaned)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [30]:
# 10. Import the rows with numerical missing values

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
numerical_data=df.select_dtypes(include=['number']).columns

missingvalues=df[df[numerical_data].isna().any(axis=1)]
print(missingvalues)

Empty DataFrame
Columns: [Manufacturer, Model, Sales in thousands, 4-year resale value, Vehicle type, Price in thousands, Engine size, Horsepower, Wheelbase, Width, Length, Curb weight, Fuel capacity, Fuel efficiency, Latest Launch]
Index: []

In [32]:
# 11. Sort the data w.r.t price_find the details of the most and the least expensive cars

df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
df_sorted=df.sort_values(by='Price in thousands',ascending=True)
least_expensive_car=df.iloc[0]
most_expensive_car=df.iloc[-1]
print("least expensive car",least_expensive_car)
print("most expensive car",most_expensive_car)

least expensive car Manufacturer               Acura
Model                  Integra
Sales in thousands                16.919
4-year resale value                16.36
Vehicle type                   Passenger
Price in thousands                  21.5
Engine size                          1.8
Horsepower                           140
Wheelbase                          101.2
Width                               67.3
Length                             172.4
Curb weight                        2.639
Fuel capacity                       13.2
Fuel efficiency                       28
Latest Launch                   2-Feb-14
Name: 0, dtype: object
most expensive car Manufacturer               Volvo
Model                  S80
Sales in thousands                18.969
4-year resale value                    .
Vehicle type                   Passenger
Price in thousands                    36
Engine size                          2.9
Horsepower                           201
Wheelbase                          109.9
Width                               72.1
Length                             189.8
Curb weight                          3.6
Fuel capacity                       21.1
Fuel efficiency                       24
Latest Launch                  14-Nov-15
Name: 156, dtype: object

In [3]:
# 12. Write a function to find min and max values of any column

import pandas as pd

def find_min_max(df, column_name):
    """
    Finds the minimum and maximum values of a specified column in a DataFrame.
    
    :param df: pandas DataFrame
    :param column_name: Name of the column to find min and max values
    :return: Tuple (min_value, max_value)
    """
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in DataFrame.")
    
    return df[column_name].min(), df[column_name].max()

# Example usage
data = {'A': [3, 1, 7, 5], 'B': [10, 20, 15, 5]}
df = pd.DataFrame(data)

min_val, max_val = find_min_max(df, 'A')
print(f"Min: {min_val}, Max: {max_val}")

Min: 1, Max: 7